<div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/issue/credential" class="nav-link">Issue Credential</a>
                    </li>
                    <li class="nav-item">
                        <a href="/verify/credential" class="nav-link">Verify Credential</a>
                    </li>
                    <li class="nav-item">
                        <a href="/configure" class="nav-link">Configure Node</a>
                    </li>
                </ul>
            </div>